Package: jp.r-plus.menusupport
Name: MenuSupport
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 0.1
Architecture: iphoneos-arm
Description: Simply plugin loader for iOS system menu.
Maintainer: r_plus
Author: r_plus
Section: Tweaks
Icon: file:///Library/PreferenceBundles/MenuSupportSettings.bundle/MenuSupport@3x.png
