<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Apache License 2.0</string>
            <key>footerText</key>
            <string>Translate icon: Google Inc.</string>
        </dict>
    </array>
    <key>title</key>
    <string>License</string>
</dict>
</plist>
