<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>MenuSupport</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>jp.r-plus.MenuSupport</string>
            <key>key</key>
            <string>Enabled</string>
            <key>label</key>
            <string>Enabled</string>
            <key>set</key>
            <string>setterForCfprefsd:specifier:</string>
            <key>PostNotification</key>
            <string>jp.r-plus.MenuSupport.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>jp.r-plus.MenuSupport</string>
            <key>key</key>
            <string>UseImage</string>
            <key>label</key>
            <string>UseImage</string>
            <key>set</key>
            <string>setterForCfprefsd:specifier:</string>
            <key>PostNotification</key>
            <string>jp.r-plus.MenuSupport.settingschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Plugins</string>
        </dict>
    </array>
    <key>title</key>
    <string>MenuSupport</string>
</dict>
</plist>
